{% extends 'base.html' %}
{% block content %}

<a href="/add" class="btn btn-primary">Add Transaction</a>
<a href="/report" class="btn btn-info">View Report</a>

<hr>

<h4>Total Income: ₹{{ total_income }}</h4>
<h4>Total Expense: ₹{{ total_expense }}</h4>
<h4>Balance: ₹{{ balance }}</h4>

<table class="table table-bordered mt-3">
    <tr>
        <th>Type</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Action</th>
    </tr>
    {% for t in transactions %}
    <tr>
        <td>{{ t.type }}</td>
        <td>{{ t.category }}</td>
        <td>{{ t.amount }}</td>
        <td>{{ t.date.strftime('%Y-%m-%d') }}</td>
        <td>
            <a href="/delete/{{ t.id }}" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}