{% extends 'base.html' %}
{% block content %}

<h3>All Transactions Report</h3>

<h5>Total Income: ₹{{ total_income }}</h5>
<h5>Total Expense: ₹{{ total_expense }}</h5>
<h5>Balance: ₹{{ balance }}</h5>

<hr>

<div style="width: 400px; margin: auto;">
    <canvas id="expenseChart"></canvas>
</div>

<hr>

<table class="table table-striped">
    <tr>
        <th>Type</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Date</th>
    </tr>

    {% for t in transactions %}
    <tr>
        <td>{{ t.type }}</td>
        <td>{{ t.category }}</td>
        <td>{{ t.amount }}</td>
        <td>{{ t.date.strftime('%Y-%m-%d') }}</td>
    </tr>
    {% endfor %}
</table>

<!-- Chart.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('expenseChart');

    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Income', 'Expense'],
            datasets: [{
                data: [{{ total_income }}, {{ total_expense }}],
            }]
        }
    });
</script>

{% endblock %}